.centreNav{
    display:Flex;
    justify-content: center; /* Horizontally center the container */
}

.navbar{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 980px; /* Set a maximum width for the grid */
    width: 100%; /* Make the grid take up the full width of its container */
    padding: 20px; /* Add padding to the grid container as needed */
    gap:10px;
}